<a href="https://colab.research.google.com/github/LuisSolano23/intromarketinganalytics/blob/main/Copy_of_Taller1_Analisis_de_Redes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ADDIDAS ANALISIS

In [5]:
!wget https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx

--2025-09-10 23:14:09--  https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx [following]
--2025-09-10 23:14:09--  https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 693038 (677K) [application/octet-stream]
Saving to: ‘Adidas US Sales Datasets.xlsx’

Adidas US Sales Dat 100%[===================>] 676.79K  --.-KB/s    in 0.008s

2025-09-10 23:14:09 (78.4 MB/s) - ‘Adidas US Sales Datasets.xlsx’ saved [693038/693038]

In [6]:
import pandas as pd
data = pd.read_excel("Adidas US Sales Datasets.xlsx")

In [7]:
data.head(3)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store

0. Cuantas filas y columnas tiene la tabla?

In [ ]:
data.shape

(9648, 13)

0.1 Cual es la unidad de observación de la tabla?

In [ ]:
data.info

<bound method DataFrame.info of          Retailer  Retailer ID Invoice Date     Region          State  \
0     Foot Locker      1185732   2020-01-01  Northeast       New York
1     Foot Locker      1185732   2020-01-02  Northeast       New York
2     Foot Locker      1185732   2020-01-03  Northeast       New York
3     Foot Locker      1185732   2020-01-04  Northeast       New York
4     Foot Locker      1185732   2020-01-05  Northeast       New York
...           ...          ...          ...        ...            ...
9643  Foot Locker      1185732   2021-01-24  Northeast  New Hampshire
9644  Foot Locker      1185732   2021-01-24  Northeast  New Hampshire
9645  Foot Locker      1185732   2021-02-22  Northeast  New Hampshire
9646  Foot Locker      1185732   2021-02-22  Northeast  New Hampshire
9647  Foot Locker      1185732   2021-02-22  Northeast  New Hampshire

            City                    Product  Price per Unit  Units Sold  \
0       New York      Men's Street Footwear            50.0        1200
1       New York    Men's Athletic Footwear            50.0        1000
2       New York    Women's Street Footwear            40.0        1000
3       New York  Women's Athletic Footwear            45.0         850
4       New York              Men's Apparel            60.0         900
...          ...                        ...             ...         ...
9643  Manchester              Men's Apparel            50.0          64
9644  Manchester            Women's Apparel            41.0         105
9645  Manchester      Men's Street Footwear            41.0         184
9646  Manchester    Men's Athletic Footwear            42.0          70
9647  Manchester    Women's Street Footwear            29.0          83

      Total Sales  Operating Profit  Operating Margin Sales Method
0        600000.0         300000.00              0.50     In-store
1        500000.0         150000.00              0.30     In-store
2        400000.0         140000.00              0.35     In-store
3        382500.0         133875.00              0.35     In-store
4        540000.0         162000.00              0.30     In-store
...           ...               ...               ...          ...
9643       3200.0            896.00              0.28       Outlet
9644       4305.0           1377.60              0.32       Outlet
9645       7544.0           2791.28              0.37       Outlet
9646       2940.0           1234.80              0.42       Outlet
9647       2407.0            649.89              0.27       Outlet

[9648 rows x 13 columns]>

1. Cuales fueron las ventas totales?

In [ ]:
data["Total Sales"].sum()

np.float64(899902125.0)

1.1 Cuanto fue la ganancia operacional total?

In [ ]:
data["Operating Profit"].sum()

np.float64(332134761.45000005)

1.2 Cuanto fue el margen promedio total ?

In [ ]:
data["Operating Margin"].mean()

np.float64(0.42299129353233833)

1.3 Por que el margen promedio y no el total. Explique con palabras

2. Cuales fueron las ventas totales por Retailer?

In [ ]:
data.groupby("Retailer ID")["Total Sales"].sum()

Retailer ID
1128299    270205913.0
1185732    452315914.0
1189833     42083484.0
1197831    135296814.0
Name: Total Sales, dtype: float64

2.1 Cual fue la ganancia operacional total por retailer?

In [ ]:
data.groupby("Retailer ID")["Operating Profit"].sum()

Retailer ID
1128299    8.841769e+07
1185732    1.708299e+08
1189833    1.553774e+07
1197831    5.734946e+07
Name: Operating Profit, dtype: float64

2.3 Tomando los dos resultados de arriba: El ganancia operacional total y las ventas totales divida ambos resultados. Le tiene que dar el margen total de cada Retailer.

In [ ]:
data.groupby("Retailer ID")["Total Sales"].sum()/data.groupby("Retailer ID")["Operating Profit"].sum()

Retailer ID
1128299    3.056017
1185732    2.647756
1189833    2.708469
1197831    2.359165
dtype: float64

2.4 Cual fue el margen operacional promedio por retailer?

In [ ]:
data.groupby("Retailer ID")["Operating Margin"].mean()

Retailer ID
1128299    0.390101
1185732    0.423299
1189833    0.437639
1197831    0.465977
Name: Operating Margin, dtype: float64

2.5 Por que los dos resultados anteriores le dieron diferente? Argumente

3.1 Retailer que mas unidades totales vende? Saque cuanto vende en unidades cada retailer y busque el mayor

In [ ]:
data.groupby("Retailer ID")["Units Sold"].sum().sort_values(ascending=False)

Retailer ID
1185732    1250931
1128299     625902
1197831     481370
1189833     120658
Name: Units Sold, dtype: int64

3.2 Cual fue el producto que mas unidades totales vendió?

In [8]:
data.groupby("Product")["Total Sales"].sum()

Product
Men's Apparel                123728632.0
Men's Athletic Footwear      153673680.0
Men's Street Footwear        208826244.0
Women's Apparel              179038860.0
Women's Athletic Footwear    106631896.0
Women's Street Footwear      128002813.0
Name: Total Sales, dtype: float64

3.3 Cual es el metodo de venta que mas ventas totales tuvo y más ventas promedio

In [10]:
data.groupby("Sales Method")["Total Sales"].mean().sort_values(ascending=False)

Sales Method
In-store    204967.672414
Outlet       97908.411063
Online       50659.210882
Name: Total Sales, dtype: float64

In [ ]:
el metodo de venta que mas ventas en promedio fue in sttore

3.4 Cual Fue el estado que más ventas totales tuvo ?

In [12]:
data.groupby("State")["Total Sales"].sum().sort_values(ascending=False)

State
New York          64229039.0
California        60174133.0
Florida           59283714.0
Texas             46359746.0
South Carolina    29285637.0
Washington        26330718.0
North Carolina    23956531.0
Louisiana         23750781.0
Hawaii            22282457.0
Virginia          21575040.0
Oregon            21349674.0
Colorado          20996536.0
Nevada            20858509.0
New Mexico        19865016.0
Idaho             19276878.0
Georgia           18997466.0
Michigan          18625433.0
Wyoming           18577517.0
Ohio              18484583.0
Tennessee         18067440.0
Alabama           17633424.0
New Hampshire     16411667.0
Arizona           15782221.0
Montana           15710886.0
Mississippi       15591709.0
Alaska            14753103.0
Vermont           14352923.0
Arkansas          12639347.0
Delaware          12298412.0
Connecticut       11573448.0
Massachusetts     11076810.0
West Virginia     10689160.0
Oklahoma          10620734.0
Pennsylvania      10357519.0
Kentucky          10072848.0
Kansas             9972864.0
New Jersey         9934246.0
Illinois           9797488.0
Utah               9696420.0
Missouri           9683265.0
Maine              9195978.0
Indiana            8836198.0
South Dakota       8495576.0
Rhode Island       8446806.0
Maryland           7758059.0
North Dakota       7735580.0
Wisconsin          7727469.0
Iowa               7424011.0
Minnesota          7378068.0
Nebraska           5929038.0
Name: Total Sales, dtype: float64

4. Teniendo en cuenta los resultados de arriba: 1. Tome el Retailer que vendio
mas 2. El estado que vendio mas 3.el producto que vendio mas y el metodo de ventas que vendio más 4. Filtre y genere un dataframe con ellos 5. llamelo como un nuevo dataframe

In [34]:
# retailer que mas vendio
Top_retailer = data.groupby("Retailer")["Units Sold"].sum().idxmax()
# 2 el estado que mas vendio
Top_State = data.groupby("State")["Total Sales"].sum().idxmax()
# 3 el rpducot que mas vendio
Top_product = data.groupby("Product")["Units Sold"].sum().idxmax()
# 4 metodo de venta que mas vendio
Top_method = data.groupby("Sales Method")["Units Sold"].sum().idxmax()
#5 nuevo dataframe
nuevo_df = data[
(data["Retailer"] == Top_retailer) &
(data["State"] == Top_State) &
(data["Product"] == Top_product) &
(data["Sales Method"] == Top_method)
]

In [35]:
nuevo_df

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
5331,West Gear,1185732,2021-03-08,Northeast,New York,Albany,Men's Street Footwear,44.0,252,11088.0,6541.92,0.59,Online
5337,West Gear,1185732,2021-04-09,Northeast,New York,Albany,Men's Street Footwear,42.0,248,10416.0,5832.96,0.56,Online
5343,West Gear,1185732,2021-05-08,Northeast,New York,Albany,Men's Street Footwear,50.0,261,13050.0,7830.00,0.60,Online
5349,West Gear,1185732,2021-06-10,Northeast,New York,Albany,Men's Street Footwear,59.0,263,15517.0,8689.52,0.56,Online
5355,West Gear,1185732,2021-07-08,Northeast,New York,Albany,Men's Street Footwear,59.0,247,14573.0,8015.15,0.55,Online
5361,West Gear,1185732,2021-08-09,Northeast,New York,Albany,Men's Street Footwear,62.0,250,15500.0,8680.00,0.56,Online
5367,West Gear,1185732,2021-09-08,Northeast,New York,Albany,Men's Street Footwear,50.0,238,11900.0,7021.00,0.59,Online
5373,West Gear,1185732,2021-10-10,Northeast,New York,Albany,Men's Street Footwear,57.0,208,11856.0,6757.92,0.57,Online
5379,West Gear,1185732,2021-11-09,Northeast,New York,Albany,Men's Street Footwear,56.0,217,12152.0,6683.60,0.55,Online
5385,West Gear,1185732,2021-12-08,Northeast,New York,Albany,Men's Street Footwear,59.0,245,14455.0,8383.90,0.58,Online